<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=url("admin/nas/alist_status")%>', null,
		function(x, st)
		{
			var tb = document.getElementById('alist_status');
			if (st && tb)
			{
				if (st.running)
				{
					tb.innerHTML = '<em style=\"color:green\"><b><%:The Alist service is running.%></b></em>'
						+ "<br/><br/><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:Click to open Alist%> \" onclick=\"window.open('http://" + window.location.hostname + ":" + st.port + "/')\"/>";
				}
				else
				{
					tb.innerHTML = '<em style=\"color:red\"><b><%:The Alist service is not running.%></b></em>';
				}
			}
		}
	);
//]]></script>

<fieldset class="cbi-section">
	<legend><%:Alist Status%></legend>
	<p id="alist_status">
		<em><b><%:Collecting data...%></b></em>
	</p>
</fieldset>
